

body {
 display: flex;
 justify-content: center;
 align-items: center;
}

.gallery {
 max-width: 1200px;
 display: grid;
 grid-template-columns: repeat(auto-fit, 325px);
 gap: 10px;
 margin: 0;
 padding: 0;
 list-style: none;
}

.gallery-item {
 position: relative;
 border-radius: 4px;
}

.gallery-image {
 width: 100%;
 height: 100%;
 object-fit: cover;
 transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover .gallery-image {
 transform: scale(1.02); 
}